body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
}

.header {
  padding: 24px;
  background-color: #F6E1AE;
}

.sidebar {
  margin-top: 24px;
  padding: 10px;
  background-color: #7FC28B;
}

.sidebar h3 {
  color: #F6E1AE;
}

.sidebar p {
  color: #FFFFFF;
}

.content {
  padding: 26px;
  padding-top: 34px;
}

.content h3 {
  font-weight: bold;
}

.main-content {
  background-color: #E6E6E6;

  /*used to make main-content columns same length*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
/*used to make main-content columns same length*/
.main-content > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
